changetoxml/src/main/mule/changetoxml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f1a86842-a407-4328-a4ec-cfb6e1d40d3e" >
		<http:listener-connection host="0.0.0.0" port="19895" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e77188cb-1ce8-4055-b5a8-5c93680f33be" >
		<db:my-sql-connection host="dev.icraftsoft.net" port="3306" user="trainee" password="shoppingCl@55" database="craftshopping" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="31fe2479-81c1-44b8-a2e1-1b7ca217e379" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="ded2f38b-1828-4c27-ba4f-7ce7167ae477" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e6cb3917-2587-4e79-9f88-8332b8ffcc62" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="a6c83941-b5e8-4dc5-ba6f-d2539986bfef">
		<http:request-connection host="training-american-ws.cloudhub.io" port="80" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config3" doc:name="HTTP Listener config" doc:id="a09dc7e5-dcda-4b7f-a894-3405de1ec69f" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="90a34c79-f4ff-47d0-9086-ff385bbc23d9" >
		<salesforce:basic-connection username="regasa_c@yahoo.com" password="Regasa092369" securityToken="bOCegNeXvLhc6ZLoE2p4OcFcm" />
	</salesforce:sfdc-config>
	<flow name="changetoxmlFlow2" doc:id="39086286-daf6-4e13-9e61-47de697fdcd2" >
		<http:listener doc:name="Listener" doc:id="7bbd98db-cd56-47b7-980b-e29723626d74" path="/select" config-ref="HTTP_Listener_config"/>
		<db:select doc:name="Select" doc:id="11ec9028-1729-45fd-bd8c-5410e5d7b73e" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from users ]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="726e65f2-8c76-4e98-bc55-185b4084550c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="emp_profile__c" doc:id="8b6dbb04-2298-4ad6-bb12-8f8ee02751e3" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="0adb8ab6-a38f-402c-a494-1f10b7606b5e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="changetoxmlFlow" doc:id="90e328ce-4303-4bdc-a214-f418d086de91" >
		<http:listener doc:name="Listener" doc:id="fb4ce11a-1159-4c6b-851d-efcdad309f39" config-ref="HTTP_Listener_config1" path="/update"/>
		<db:update doc:name="Update" doc:id="3231f831-3415-416f-9e09-a1183fe394df" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE users SET userid = :userid, name = :name, email= :email WHERE userid = 900;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ userid: payload.userid,
	name: payload.name,
	email:payload.email
	
	
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="3be09706-2570-4b20-b201-2b8e6d210224" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "upadated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="changetoxmlFlow1" doc:id="09bc3f7f-a0e6-43a0-8976-72d8454ddf41" >
		<http:listener doc:name="Listener" doc:id="bbc9989c-c4ef-46bd-9d5e-3aa28ecb43ce" config-ref="HTTP_Listener_config3" path="/getuser"/>
		<http:request method="GET" doc:name="Request" doc:id="08a18b0c-b366-41c6-b9fa-884b3f613e7d" config-ref="HTTP_Request_configuration1" path="/api/flights"/>
	</flow>
	<flow name="changetoxmlFlow3" doc:id="afb95da6-aac1-46c4-866a-1dbce47cca92" >
		<http:request method="POST" doc:name="Request" doc:id="2b12fe26-6a61-4bd2-8bef-e75cc922be5a" config-ref="HTTP_Request_configuration1" path="/api/flights">
			<http:body ><![CDATA[#[{"data":"updated"}]]]></http:body>
		</http:request>
	</flow>
</mule>
